/*** header ***/
.header-container {
  height: 100vh;
  width: 100%;
  background-image: url(../../images/restaurant-homepage.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header-overlay {
  background-color: rgba(20, 33, 61, 0.65);
  height: 100vh;
  width: 100%;
}

.header-text-container {
  width: 50%;
  margin: 20px auto;
}

.header-text-container h1 {
  font-family: Lora;
  color: #e5e5e5;
  font-size: 65px;
  text-align: center;
  line-height: 65px;
  margin: 230px auto 30px; 
}

.header-text-container p {
  font-family: Lora;
  color: #e5e5e5;
  font-size: 17px;
  text-align: justify;
  line-height: 2;
}

.header-text-container #main-logo {
  margin: 100px auto 0px;
  width: 100px;
  opacity: 0.7;
}

.header-text-container #main-title {
  margin: 20px auto;
  font-size: 80px;
  opacity: 0.8;
}

/*** body ***/
.about-us-page-container h2 {
  margin: 30px auto;
}

/* gallery */
.gallery-grid {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.gallery-images {
  width: 220px;
  transition: all 200ms ease-in-out;
}

.gallery-images:hover {
  transform:scale(1.1);
}

#full-height {
  height: 470px;
  width: auto;
}

.inner-row {
  flex-wrap: nowrap;
}

#second-row {
  margin-top: 30px;
}

/* dicono di noi */

.row.dicono-di-noi {
  margin-bottom: 50px;
}


.testimonial-container {
  position: relative;
  background: #f1f1f1f1;
  height: 300px;
  width:75%;
  margin: 50px auto;
  box-shadow: 5px 5px 5px #beb4b4;
}



.slides {
  text-align: center;
}

.card-body {
  height: 400px;
  width: 90%;
  margin:30px auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #fca311;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: white;
}

.slide .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opaxity: 1
  }
}

.card-title {
  font-family: Nunito;
  color: #14213d;
  font-weight: bold;
  margin: 30px 0px;
}

.card-text {
  font-family: Nunito;
  padding: 0px 50px 30px;
}
