/*** header ***/
.header-container {
  height: 100vh;
  width: 100%;
  background-image: url(../../images/restaurant-homepage.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.header-overlay {
  background-color: rgba(20, 33, 61, 0.65);
  height: 100vh;
  width: 100%;
  display: flex;
}

.header-text-container {
  width: 50%;
  margin: 20px auto;
}

.header-text-container h1 {
  font-family: Lora;
  color: #e5e5e5;
  font-size: 65px;
  text-align: center;
  line-height: 65px;
  margin: 370px auto 30px; 
}

.header-text-container p {
  font-family: Lora;
  color: #e5e5e5;
  font-size: 17px;
  text-align: justify;
  line-height: 2;
}

.header-text-container #main-logo {
  margin: 100px auto 0px;
  width: 100px;
  opacity: 0.7;
}

.header-text-container #main-title {
  margin: 20px auto;
  font-size: 80px;
  opacity: 0.8;
}

/*** body ***/
.about-us-page-container h2 {
  margin: 30px auto;
}

/* gallery */
.gallery-grid {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.grid-column {
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  margin: 29px -50px;
  flex-basis: 25%;
}

.gallery-images {
  width: 220px;
  transition: all 200ms ease-in-out;
}

.gallery-images:hover {
  transform:scale(1.1);
}

#full-height {
  height: 470px;
  width: auto;
}

.inner-row {
  flex-wrap: nowrap;
}

#second-row {
  margin-top: 30px;
}

/* dicono di noi */

.row.dicono-di-noi {
  margin-bottom: 50px;
}


.testimonial-container {
  position: relative;
  background: #f1f1f1f1;
  height: 300px;
  width:75%;
  margin: 50px auto;
  box-shadow: 5px 5px 5px #beb4b4;
}

.slides {
  text-align: center;
}

.card-body {
  height: 300px;
  width: 90%;
  margin:30px auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #fca311;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: white;
}

.slide .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opaxity: 1
  }
}

.card-title {
  font-family: Nunito;
  color: #14213d;
  font-weight: bold;
  margin: 30px 0px;
}

.card-text {
  font-family: Nunito;
  padding: 0px 50px 30px;
}

@media screen and (max-width:424px) {
  .header-text-container {
    flex-basis: fit-content;
  } 

  .header-text-container h1 {
    font-size: 35px;
    margin: 35% auto 30px;
  }

  .header-text-container p {
    font-size: 14px;
    padding: 0px 30px;
  }
  
  .gallery-grid {
    text-align: center;
  }
  
  .grid-column {
    flex-basis: 100%;
  }

  .grid-item {
    margin:0px;
  }

  #full-height {
    width: 220px;
    height: auto;
  }
  
  .testimonial-container {
    width: 95%;
  }

  .card-title {
    margin: 5px auto 15px;
  }
    
  .card-text {
    padding: 0px 20px 30px;
  }

  .testimonial-container p {
    font-size: 14px;
  }
}

@media screen and (min-width:425px) and (max-width:767px) {
  .header-text-container {
    flex-basis: fit-content;
    width: 70%;
  } 

  .header-text-container h1 {
    font-size: 45px;
    margin: 30% auto 30px;
  }

  .header-text-container p {
    font-size: 16px;
    padding: 0px 40px;
  }
  
  .gallery-grid {
    text-align: center;
  }
  
  .grid-column {
    flex-basis: 100%;
  }

  .grid-item {
    margin:0px;
  }

  .gallery-images, #full-height {
    width: 280px;
    height: auto;
  }
  
  .testimonial-container {
    width: 95%;
  }

  .card-title {
    margin: 15px auto 20px;
  }
    
  .card-text {
    padding: 0px 20px 30px;
  }

  .testimonial-container p {
    font-size: 16px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header-text-container {
    flex-basis: fit-content;
    width: 70%;
  } 

  .header-text-container h1 {
    font-size: 45px;
    margin: 30% auto 30px;
  }

  .header-text-container p {
    font-size: 16px;
    padding: 0px 70px;
  }

  #full-height {
    height: 245px;
    width: auto;
  }

  .grid-item {
    margin: 5px -50px;
  }

  .gallery-images {
    width: 120px;
  }

}

@media screen and (min-width:1024px) and (max-width:1439px) {
  .header-text-container {
    flex-basis: fit-content;
    width: 70%;
  } 

  .header-text-container h1 {
    font-size: 60px;
    margin: 25% auto 30px;
  }

  .header-text-container p {
    font-size: 17px;
    padding: 0px 130px;
  }

  #full-height {
    height: 330px;
    width: auto;
  }

  .grid-item {
    margin: 30px -50px;
  }

  .gallery-images {
    width: 150px;
  }

  .card-body p {
    font-size: 18px;
  }
}

@media screen and (min-width:1440px) {
  .header-text-container {
    flex-basis: fit-content;
  } 
  
  .header-text-container h1 {
    font-size: 65px;
    margin: 15% auto 30px;
  }

  .header-text-container p {
    font-size: 18px;
    padding: 0px 230px;
  }

  #full-height {
    height: 430px;
    width: auto;
  }

  .grid-item {
    margin: 30px -100px;
  }

  .gallery-images {
    width: 200px;
  }

  .testimonial-container {
    width: 65%;
  }

  .card-body p {
    font-size: 18px;
  }
}