/*** header ***/
.menu-page-header-container {
  height: 50vh;
  width: 100%;
  background-image: url(../../images/restaurant-homepage.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
  
.menu-page-header-overlay {
  background-color: rgba(20, 33, 61, 0.65);
  height: 50vh;
  width: 100%;
}

.header-text-container {
  width: 100%;
  margin: 0px auto;
}

.header-text-container h1 {
  font-family: Lora;
  color: #e5e5e5;
  font-size: 65px;
  text-align: center;
  line-height: 50px;
  margin: 250px auto 30px; 
}

/*** tabella contattaci ***/
.contact-us-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px auto;
}

.contact-us-column {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-basis: 33%;
}

.contact-us-item {
  flex-basis: 33%;
  text-align: center;
  padding: 30px 10px;
  background-color: white;
  margin: 20px;
  align-items: center;
  box-sizing: content-box;
}

.contact-us-item#image-container {
  background-image: url(../../images/contact-us-image.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  margin: -10px 0px;
  background-color: transparent;
  flex-basis: 33%;
  box-sizing: inherit;
}

.contact-us-column h2 {
  font-family: Nunito;
  font-size: 27px;
  color: #fca311;
}

.contact-us-column h2#blue-title {
  font-family: Nunito;
  font-size: 27px;
  color: #14213d;
}

.social-icons {
  width: 30px;
  margin: 20px 10px;
}

.social-link:hover {
  filter: saturate(13.5) contrast(2.5) hue-rotate(153deg) brightness(90.5);;
}

.contact-table-icons {
  display: inline;
  width: 15px;
  margin: 10px 10px;
}

p.contact-us-text {
  display: inline;
  font-family: Nunito;
  font-size: 15px;
  margin: 20px 0px;
}
.location {
  margin: 0px auto 20px;
}