/*structure and general */
#main-container {
  padding: 0px 0px 55px 0px;
  background-color: #e5e5e5;
}

.button-link {
  appearance: button;
  -ms-progress-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  display: block;
  margin: 20px auto;
  width: 200px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-weight: 700;
  }

h2 {
  text-align: center;
  font-size: 43px;
  font-family: lora;
  color: #14213d;
}



/* */

#container-menu {
  display:flex;
  overflow: hidden;
  padding: 0px 0px;
  position: fixed; 
  top: 0; 
  width: 100%;
  align-items: center;
  background-color: rgb(20,33,61);
  z-index: 9;
  flex-wrap: no-wrap;
}

.custom-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 85px;
  flex-wrap: no-wrap;
}

.logo-small {
  width: 375px;
}

ul {
  text-align: center;
  margin: 0px ;
}

li {
  display: inline-block;
  text-align: center;
  margin: 0px 40px;
  line-height: 45px;
  font-family: nunito;
  color: white;
  font-weight: 700;
}

.menu-link {
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.menu-link:hover {
  color: #fca311;
  cursor: pointer;
}

.scrolling-inactive {
  transition: all 200ms ease-in;
}

.scrolling-inactive-logo {
  transition: all 200ms ease-in;
}

.scrolling-active {
  padding-top: 0px;
  transition: all 300ms ease-in-out;
}

.scrolling-active-logo {
  width: 15%;
  transition: all 300ms ease-in-out;
}

/* Header */

.bg-overlay {
  background: linear-gradient(rgba(12, 21, 41, 0.8), rgba(20,33,61,.6)), url("../../images/restaurant-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  padding-top: 1px;
}

#main-logo {
  width: 130px;
  margin: 130px auto 0px;
}

#main-title {
  color: #e5e5e5;
  font-size: 50px;
  display: block;
  text-align: center;
  font-family: 'Parisienne'; 
  font-size: 100px;
}

/* Menu section */

#menu-section {
  margin: 50px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


#menu-button {
  color: #14213d;
  background-color: rgba(229, 229, 229, 0.9);
}

#menu-button:hover{
  background-color:#14213d;
  color:#fca311;
}

.text-description {
  margin: 20px 10px;
  font-size: 16px;
  line-height: 2.2;
  font-family: Nunito;
  text-align: justify;
}


/* slideshow */
* {box-sizing: border-box;}
.mySlides {
  display: none;
}

.slideshow-images {
  vertical-align: middle;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 10px;
}

  /* Slideshow container */
.slideshow-container {
  max-width: 430px;
  position: relative;
  margin: auto;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 10px;
}

  /* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

  /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* About section */
/* About us slideshow */
#location-slideshow {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  animation: animate 16s ease-in-out infinite;
  background-size: cover;
  background-position: 50%;
} 

.outer {
  height: 600px;
  background: rgba(12, 21, 41, 0.8);
}

.details {
  text-align: center;
}

#about-us {
  color:#e5e5e5;
  padding: 130px 0px 30px 0px;
}

.about-us-text {
  color:#e5e5e5;
  text-align: justify;
  line-height: 2.2;
  padding: 0px 350px 10px;
}

#button-about-us {
  background-color: rgba(229, 229, 229, 0);
  border:  1px solid rgba(229, 229, 229, 0.5);
  color: rgb(229, 229, 229);
}

#button-about-us:hover {
  background-color:#14213d;
  color:#fca311;
}

/* Delivery and Booking */

.del-book-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-evenly;
  margin: 50px 10px 0px 10px;
}

.boxes {
  background-size: cover;
  background-position: 100%;
  width: 300px;
  height: 300px;
  text-align: center; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#box-1 {
  background-image: url(../../images/box-1.jpg);
}

#box-2 {
  background-image: url(../../images/box-2.jpg);
}

#box-3 {
  background-image: url(../../images/box-3.jpg);
}

#box-4 {
  background-image: url(../../images/box-4.jpg);
}

.overlay-boxes {
  background-color: rgba(12, 21, 41, 0.8);
}

h3 {
  color:#fca311;
  font-size: 40px;
  font-family: Parisienne;
  line-height: 300px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

h3:hover {
  font-size: 50px;
  line-break:normal;
}

.is-hidden {
  display: none;
  transition: all 200ms ease;
}

.fullwidth-column {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  max-height: 300px;
}

#delivery-box {
  text-align: center;
}


.delivery-booking-title {
  font-size:32px;
  margin-bottom: 25px;
}

.delivery-text {
  font-size: 18px;
  font-family: Nunito;
  margin: -5px auto;
}

#phone-number {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
}

.app-icon {
  max-width:30px;
  margin: 0px 5px;
}

label {
  font-family: Nunito;
  color: rgba(0,0,0,0.8);
  font-size: 13px;
}

#form-row {
  margin: 15px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#book-table-button {
  font-size: 14px;
  color:#14213d;
  font-size: Nunito;
  background-color:rgba(252, 163, 17, 0.7);
  width: 135px;
  border: none;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-weight: 700;
}

.close {
  float: right;
  display: block;
  border: none;
  background-color: transparent;
}

.close-button {
  font-size: 32px;
  line-height: 15px;
  color: rgba(0,0,0,0.8);
}

/* Footer */
footer {
  background-color: #14213d;
  padding: 30px 120px;
  width: 100%;
}

h4 {
  font-family: Lora;
  color:#fca311;
  font-size: 18px;
  margin: 20px 0px;
}

.icon-col {
  margin-right: -5px;
}

.footer-text {
  font-family: Nunito;
  color:#e5e5e5;
  font-size: 14px;
  line-height: 2;
  padding-right: 75px;
  text-align: justify;
}

.footer-icons {
  width:15px;
}


/* keyframes */
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes animate {
  0%, 100% {
    background-image: url(../../images/restaurant-slideshow-1.jpg)
  }

  25% {
    background-image: url(../../images/restaurant-slideshow-2.jpg)
  }

  50% {
    background-image: url(../../images/restaurant-slideshow-3.jpg)
  }

  75% {
    background-image: url(../../images/restaurant-slideshow-4.jpg)
  }
}

@media screen and (max-width:374px) {
  .logo-small {
    width: 200px;
  }
  
  .menu-link {
    font-size: 10px;
  }

  #main-logo {
    width: 100px;
    margin: 175px auto 20px;
  }

  #main-title {font-size: 60px}

  #menu-section {
    margin: 50px 25px;
  }

  h2 {
    font-size: 25px
  }

  .text-description {
    font-size: 13px;
  }

  .button-link {
    font-size: 14px;
    width: 165px;
    padding:5px 10px;
    margin: 20px auto 30px;
  }

  .slideshow-container {width: 250px}

  #location-slideshow {
    height: 700px;
  }

  .outer {
    height: 700px;
  }

  #about-us {
  padding: 40px 0px 20px 0px}
  
  .about-us-text {font-size: 12px;
  padding: 0px 50px;}

  #button-about-us:hover {
    color:#fca311;
  }

  #menu-button:hover{
    background-color:#14213d;
    color:#fca311;
  }
}

@media screen and (min-width:375px) and (max-width:424px) {
  .logo-small {
    width: 200px;
  }
  
  .menu-link {
    font-size: 10px;
  }

  .scrolling-inactive {
    transition: all 200ms ease-in;
  }
  
  .scrolling-inactive-logo {
    transition: all 200ms ease-in;
  }
  
  .scrolling-active {
    padding-top: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .scrolling-active-logo {
    width: 15%;
    transition: all 300ms ease-in-out;
  }

  #main-logo {
    width: 100px;
    margin: 175px auto 20px;
  }

  #main-title {font-size: 60px}

  #menu-section {
    margin: 50px 25px;
  }

  h2 {
    font-size: 25px
  }

  .text-description {
    font-size: 13px;
  }

  .button-link {
    font-size: 14px;
    width: 165px;
    padding:5px 10px;
    margin: 20px auto 30px;
  }

  .slideshow-container {width: 250px}

  #location-slideshow {
    height: 620px;
  }

  .outer {
    height: 620px;
  }

  #about-us {
  padding: 40px 0px 20px 0px}
  
  .about-us-text {font-size: 12px;
  padding: 0px 50px;}

  #button-about-us {
    padding: 10px 10px;
    width: 150px;
  }

}

@media screen and (min-width:425px) and (max-width:767px) {
  
  .logo-small {
    width: 250px;
  }
  
  .menu-link {
    font-size: 12px;
  }

  .scrolling-inactive {
    transition: all 200ms ease-in;
  }
  
  .scrolling-inactive-logo {
    transition: all 200ms ease-in;
  }
  
  .scrolling-active {
    padding-top: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .scrolling-active-logo {
    width: 15%;
    transition: all 300ms ease-in-out;
  }

  #main-logo {
    width: 120px;
    margin: 175px auto 20px;
  }
  
  #main-title {
    font-size: 62px
  }
  
  #menu-section {
    margin: 50px 20px;
  }

  h2 {
    font-size: 38px;
  }

  .text-description {
    font-size: 14px;
  }

  #menu-button {
    font-size: 14px;
    margin: 30px auto;
  }

  #location-slideshow {
    height: 700px;
  }

  .outer {
    height: 700px;
  }

  #about-us {
  padding: 40px 0px 20px 0px}
  
  .about-us-text {font-size: 14px;
  padding: 0px 50px;}

  #button-about-us {
    padding: 10px 10px;
    width: 150px;
    font-size: 14px;
  }
}



@media screen and (min-width:768px) and (max-width:1023px) {
  .scrolling-inactive {
    transition: all 200ms ease-in;
  }
  
  .scrolling-inactive-logo {
    transition: all 200ms ease-in;
  }
  
  .scrolling-active {
    padding-top: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .scrolling-active-logo {
    width: 15%;
    transition: all 300ms ease-in-out;
  }
  
  #main-logo {
    width: 120px;
    margin: 150px auto 20px;
  }

  #main-title {
    font-size: 75px;}

  #menu-section {
    margin: 50px 40px;
  }

  h2 {
    font-size:37px
  }
  .text-description {
    font-size: 15px;
  }

  .button-link {
    font-size: 16px;
    width: 195px;
    padding: 10px 20px;
    margin: 20px auto 45px;
  }

  .slideshow-container {
    width: 300px
  }

  #about-us {
    font-size: 37px;
    padding: 68px 0px 30px 0px
  }
  
  .about-us-text {
    font-size: 16px;
    padding: 15px 70px;
  }

  #button-about-us {
    margin: 0px auto 0px;
    font-size: 15px;
    width: 155px;
    background-color: rgba(229, 229, 229, 0);
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: rgb(229, 229, 229);
  }

  #button-about-us:hover {
    color:#fca311;
  }

  #menu-button:hover{
    background-color:#14213d;
    color:#fca311;
  }

  #location-slideshow {
    height:720px
  }

  .outer {
    height:720px;
  }
}

@media screen and (min-width:1024px) and (max-width: 1440px) {
  
  .scrolling-inactive {
    transition: all 200ms ease-in;
  }
  
  .scrolling-inactive-logo {
    transition: all 200ms ease-in;
  }
  
  .scrolling-active {
    padding-top: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .scrolling-active-logo {
    width: 15%;
    transition: all 300ms ease-in-out;
  }
  
  #about-us {
    font-size: 40px;
    padding: 50px 0px 10px 0px
  }
  
  .about-us-text {
    font-size: 16px;
    padding: 20px 200px 10px;
    line-height: 2.3;
  }

  #button-about-us {
    margin: 0px auto;
    font-size: 16px;
    width: 160px;
    background-color: rgba(229, 229, 229, 0);
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: rgb(229, 229, 229);
  }
}