#main-container {
  padding: 0px 0px 20px 0px;
  background-color: #e5e5e5;
}

#container-menu {
  display:flex;
  overflow: hidden;
  padding: 0px 0px;
  position: fixed; 
  top: 0; 
  width: 100%;
  align-items: center;
  background-color: rgb(20,33,61);
}

.custom-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-small {
  width: 375px;
}

.scrolling-inactive {
  transition: all 200ms ease-in;
}

.scrolling-inactive-logo {
  transition: all 200ms ease-in;
}

.scrolling-active {
  padding-top: 20px;
  transition: all 300ms ease-in-out;
}

.scrolling-active-logo {
  width: 15%;
  transition: all 300ms ease-in-out;
}

.bg-overlay {
  background: linear-gradient(rgba(12, 21, 41, 0.8), rgba(20,33,61,.6)), url("../images/restaurant-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  padding-top: 1px;
}

#main-title {
  color: #e5e5e5;
  font-size: 50px;
  display: block;
  text-align: center;
  font-family: 'Parisienne';
  font-size: 100px;
}

ul {
  text-align: center;
  margin: 0px 50px 0px 0px;
}

li {
  display: inline-block;
  text-align: center;
  margin: 0px 40px;
  line-height: 45px;
  font-family: nunito;
  color: white;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #fca311;
  cursor: default;
}

#main-logo {
  width: 130px;
  margin: 130px auto 0px;
}

#menu-section {
  margin: 50px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


h2 {
  text-align: center;
  font-size: 43px;
  font-family: lora;
  color: #14213d;
}

.text-description {
  margin: 20px 10px;
  font-size: 16px;
  line-height: 2.2;
  font-family: 'Nunito';
  text-align: justify;
}

/* slideshow */
* {box-sizing: border-box;}
.mySlides {
  display: none;
}

.slideshow-images {
  vertical-align: middle;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 430px;
  position: relative;
  margin: auto;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 10px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .slideshow-container {width: 200px};
}

@media screen and (max-width:300px) {
  h2 {font-size: 20px};
  .col {flex: 0 0 100%;};
}

@media screen and (max-width:900px) {
  h2 {font-size: 25px};
  .col {flex: 0 0 100%;};
}

